@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Bebas+Neue&family=Dancing+Script:wght@600&family=Italianno&family=Lobster&family=Sedgwick+Ave+Display&family=Young+Serif&display=swap');

*{
     margin: 0;
     padding: 0;
}

body{
     font-family: 'Young Serif', serif;
}

.main-container{
     height: 100vh;
     display: grid;
     grid-template-columns: 40% 60%;
}

.message-box{
     border: 2px solid black;
     border-radius: 10px;
     margin: 10px;
     margin-left: -1px;
     grid-area: 1 / 2 / span 2;
     display: grid;
     grid-template-rows: 7% 87% 6%;
}

.chatProfile{
     background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1729&q=80");
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     display: grid;
     grid-template-columns: 10% 80% 10%;
}

.chatProfile > :nth-child(1){
     border: 2px solid black;
     border-top-left-radius: 10px;
}

.chatProfile > :nth-child(2){
     border: 2px solid black;
}

.chatProfile > :nth-child(3){
     border: 2px solid black;
     border-top-right-radius: 10px;
}

.chatbox{
     background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1729&q=80");
}

.textarea{
     display: grid;
     grid-template-columns: 5% 85% 5% 5%;
     background-image: url("https://plus.unsplash.com/premium_photo-1664443577507-1930a78a60df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1771&q=80");
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}

.emoji{
     border: 2px solid black;
     border-radius: 50%;
     margin: 2px; 
}

.textbox{
     margin-left: 5px;
     padding: 2px 5px;
     border: 2px solid black;
     border-radius: 10px;
     background-color: transparent;
     font-size: medium;
}





.seenmessage-box{
     border: 2px solid black;
     border-radius: 10px;
     margin: 10px 0px -1px 10px;
     padding: 5px;
     height: 450px;
}

.unseenmessage-box{
     border: 2px solid black;
     border-radius: 10px;
     margin: -1px 0px 10px 10px;
     padding: 5px;
     height: 300px;
}